# 去除异常数据

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import pdir as pr
import pandas as pd
import os
from tqdm import tqdm, tnrange, tqdm_notebook

DF = pd.DataFrame

# 读取训练集和测试集

In [14]:
trainSet_origin = pd.read_csv('data\\train.csv')
testSet_origin = pd.read_csv('data\\test.csv')

trainSet_origin.shape, testSet_origin.shape

((16659, 9), (742, 9))

In [15]:
trainSet_origin.head()

   instant    dteday hr weathersit  temp   atemp hum windspeed  cnt
0        1  2011/1/1  0          1  9.84  14.395  81         0   16
1        2  2011/1/1  1          1  9.02  13.635  80         0   40
2        3  2011/1/1  2          1  9.02  13.635  80         0   32
3        4  2011/1/1  3          1  9.84  14.395  75         0   13
4        5  2011/1/1  4          1  9.84  14.395  75         0    1

In [16]:
testSet_origin.head()

   instant     dteday  hr  weathersit   temp   atemp  hum  windspeed cnt
0    16638  2012/12/1   0           1  10.66  15.150   81     0.0000   ?
1    16639  2012/12/1   1           1  10.66  15.150   81     0.0000   ?
2    16640  2012/12/1   2           2  10.66  15.150   81     0.0000   ?
3    16641  2012/12/1   3           2  10.66  13.635   81     8.9981   ?
4    16642  2012/12/1   4           1  10.66  14.395   81     6.0032   ?


# 去除xxxx/xx/00类数据

用excel打开训练集，发现有22条异常数据，这类数据都有一个特点，那就是dteday的具体是xxxx/xx/00这样的形式的。测试集则没有这种数据。

In [17]:
t = trainSet_origin[trainSet_origin.dteday.str.contains('/00')]
t
t.shape

       instant      dteday hr weathersit temp atemp hum windspeed      cnt
688          0   2011/1/00  0          0    0     0   0         0    38189
1338         0   2011/2/00  0          0    0     0   0         0    48215
2069         0   2011/3/00  0          0    0     0   0         0    64045
2789         0   2011/4/00  0          0    0     0   0         0    94870
3534         0   2011/5/00  0          0    0     0   0         0   135821
4255         0   2011/6/00  0          0    0     0   0         0   143512
5000         0   2011/7/00  0          0    0     0   0         0   143512
5732         0   2011/8/00  0          0    0     0   0         0   136691
6450         0   2011/9/00  0          0    0     0   0         0   127418
7194         0  2011/10/00  0          0    0     0   0         0   123511
7914         0  2011/11/00  0          0    0     0   0         0   102167
8656         0  2011/12/00  0          0    0     0   0         0    87323
8657         0  2011/00/00  0          0    0     0   0         0  2401054
9399         0   2012/1/00  0          0    0   NaN   0         0    96744
10092        0   2012/2/00  0          0    0     0   0         0   103137
10836        0   2012/3/00  0          0    0     0   0         0   164875
12299        0   2012/5/00  0          0    0     0   0         0   195865
13020        0   2012/6/00  0          0    0     0   0         0   202830
13765        0   2012/7/00  0          0    0     0   0         0   203607
14510        0   2012/8/00  0          0    0     0   0         0   214503
15231        0   2012/9/00  0          0    0     0   0         0   218573
15940        0  2012/10/00  0          0    0     0   0         0   198841

(22, 9)

In [18]:
trainSet_origin.shape
trainSet_origin = trainSet_origin[~trainSet_origin.dteday.str.contains('/00')]
trainSet_origin.shape

(16659, 9)

(16637, 9)

# 保存结果

In [19]:
dirPath = "data preprocessed - step 1"
if not os.path.exists(dirPath):
    os.makedirs(dirPath)

trainSet_origin.to_csv(dirPath + '\\train.csv', index=False, header=True)

由于只有训练集有这个问题，因此这里只处理了训练集。